#articles {
  width: 100%;
}

#articles li {
  list-style: none;
  display: flex;
  height: 35vh;
  margin-bottom: 5vh;
  transition: 1s ease;
  padding: 1em;
}

#articles li:hover {
  cursor: pointer;
}

#articles li:hover .article_title {
	color: #fb8122;
}

.article_title {
  transition: 0.5s ease;
  font-size: 24px;
}

.article_left_part {
  height: 100%;
  margin-right: 1vw;
}

.article_img_container {
  height: 90%;
  overflow: hidden;
}

.article_img {
  height: 100%;
  border: 1px solid #14181c;
  transition: transform .5s ease;
}

.article_img:hover {
  transform: scale(1.25);
}



#hot_articles {
  width: 100%;
  height: 75vh;
  margin-bottom: 10vh;
}

#hot_articles ul {
  display: flex;
  height: 100%;
  background-image: url('../../img/article/gold.jpeg');
  background-size: cover;
}

#hot_articles ul {
  list-style: none;
}

#hot_img img {
  height: 100%;
  width: 100%;
}

#hot_zones {
  position: absolute;
  height: auto;
}

.hot_arrow {
  width: 10%;
  background-color: rgba(20, 24, 28, 0.1);
  transition: 0.35s ease;
  font-size: 128px;
  display: table;
}

.hot_arrow:hover {
  background-color: rgba(20, 24, 28, 0.6);
  cursor: pointer;
}

.hot_arrow p {
  color: rgba(225, 226, 226, 0.1);
  text-align:center;
  vertical-align: middle;
  display: table-cell;
  transition: 0.35s ease;
}

.hot_arrow:hover p {
  color: rgba(225, 226, 226, 0.8);
}

#hot_mid_zone {
  width: 80%;
  display: flex;
  align-items: flex-end;
}

#hot_mid_zone p{
  font-size: 64px;
  font-weight: bold;
  margin: 0 0 0 1vw;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #14181c;
}
